
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: #B9E7FF;
    width: 100vw;
    height: 100vh;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #707070;
}

input {
    display: block;
    box-sizing: border-box;
}

.channel-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

#channel-list-element {
    width: 100%;
    height: 4vh;
}

.channel-button {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    box-sizing: border-box;
    background-color: white;
}

#li-channel-button-divider {

}

#channel-button-divider {
    width: 60%;
    margin: 0 auto 0 auto;
    border: 1px solid grey;
    border-radius: 1px;
}

.form {
    display: block;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #95DBFF;
    border-radius: 3rem;
    width: 35vw;
    height: 65vh;
    margin-left: 10vw;
}

#login {
    padding: 8vh 0;
}

#register {
    padding: 3vh 0;
}

#logo-black {
    display: block;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 80%;
    transform: translate(-80%, -50%);
    height: 55vh;
}

#create-account {
    display: block;
    background: none;
    border: none;
    position: absolute;
    bottom: 8vh;
    width: 100%;
    text-align: center;
    margin: 0 auto 0 auto;
    font-size: 1.25rem;
    font-weight: 900;
    color: #707070;
}

.login-buttons {
    display: block;
    width: 250px;
    height: 50px;
    margin: 20px auto 0 auto;
    border: 0;
    border-radius: 10px;
    background-color: #838383;
    color: white;
    font-size: 1.5rem;
}

.form input {
    width: 25vw;
    height: 50px;
    border: none;
    background-color: white;
    margin: 5px 5vw 40px 5vw;
    border-radius: 2rem;
    padding: 0 5% 0 5%;
    font-size: 1.5rem;
    color: #707070;
}

.form label {
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 6vw;

}

#main-section {
    display: none;
    height: 100vh;
}

#landing-section {
    display: block;
}

#register {
    display: none;
}

#sidebar {
    flex: 0.2;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

#sidebar h1 {
    text-align: center;
    margin-bottom: 2%;
}

#sidebar hr {
    width: 80%;
    border: 1px solid lightgrey;
    border-radius: 1px;
}

#private-channels {
    flex: 0.45;
}

#public-channels {
    flex: 0.45;
}

#sidebar-buttons {
    display: flex;
    flex-direction: column-reverse;
    flex: 0.1;
    margin-bottom: 10px;
    
}

#sidebar-buttons button {
    display: block;
    width: 80%;
    margin: 1% 10% 1% 10%;
}

#channel-view {
    display: flex;
    flex-direction: column;
    flex: 0.8;
    border: 1px solid;
}

#channel-header {
    display: flex;
    flex: 0.1;
    border: 1px solid;
}

#channel-messages {
    flex: 0.85;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#channel-messages::-webkit-scrollbar {
    display: none;
  }


#message-text-box {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex: 0.05;
    border: none;
    border-radius: 2rem;
    background: white;
    margin: 1%;
    padding: auto 2% auto 2%;
}

#message-text {
    display: inline;
    flex: 0.85;
    height: 70%;
    margin: auto 2% auto 2%;
    border: none;
    background: none;
    font-size: 2rem;
    color: #707070;
}

#message-send {
    margin: auto 10px auto auto;
    display: inline;
    flex: 0.15;
    height: 70%;
    border: none;
    background: #42a3e0;
    color: white;
    font-size: 1.5rem;
    border-radius: 2rem;
}

#message-list {
    list-style-type: none;
    margin: 0 5% 0 5%;
    padding: 0;
}

#message-profile {
    flex-grow: 0;
    flex-shrink: 0;  
    flex-basis: 40px;
    margin-right: 10px;
    transform: translateY(17.5px);
    color: #6ec6ba;
}

#message-list-element {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.message-box:hover .message-hover-box {
    visibility: visible;
}

#message-message {
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.message-hover-box {
    position: relative;
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    visibility: hidden;
    border-right: 1px solid rgba(200, 200, 200, 0.5);
    border-left: 1px solid rgb(200, 200, 200, 0.5);
    border-bottom: 1px solid rgb(200, 200, 200, 0.5);
    transform: translateY(5px);
}

.vl {
    display: inline-block;
    border-left: 1px solid #b8b8b8;
    height: 20px;
    transform: translateY(5px);
}

.add-react-icon {
    width: 20px;
    margin: 0px 5px;
    transform: translateY(5px);
    opacity: 0.8;

}

.hover-button {
    border: none;
    background-color: transparent;
    color: rgb(112, 112, 112);
}

#message-header {
    white-space: nowrap;
    margin-bottom: 5px;
}

#message-header h1 {
    display: inline;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-size: 1.1rem;
    padding-right: 10px;
}

#message-sender {
    font-weight: bold;
}

#message-time-sent {
    font-weight: 300;
}

#message-edited {
    font-weight: 300;
}

#message-body {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-size: 1.1rem;
}

.message-react-box {
    margin-top: 5px;
}

.blue-border {
    border: 1px solid #42a3e0
}

.transparent-border {
    border: 1px solid transparent;
}

.message-react {
    display: inline-block;
    background-color: rgb(240, 240, 240);
    margin-right: 10px;
    padding: 2px 5px;
    border-radius: 10px;
    white-space: nowrap;
    box-sizing: border-box;
}

.react {
    display: inline-block;
    margin-right: 5px;
}

.react-count {
    display: inline-block;
}

#create-channel-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#channel-settings-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

textarea:focus, input:focus{
    outline: none;
}