
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: #B9E7FF;
    width: 100vw;
    height: 100vh;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #707070;
}

input {
    display: block;
    box-sizing: border-box;
}

.channel-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.channel-list li {
    width: 100%;
}

.channel-button {
    width: 100%;
    padding: auto 5% auto 5%;
}

.form {
    display: block;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #95DBFF;
    border-radius: 3rem;
    width: 35vw;
    height: 65vh;
    margin-left: 10vw;
}

#login-form {
    padding-top: 8vh;
}

#register-form {
    padding-top: 3vh;
}

#logo-black {
    display: block;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 80%;
    transform: translate(-80%, -50%);
    height: 55vh;
}

#create-account {
    display: block;
    background: none;
    border: none;
    width: auto;
    margin: 50px auto 0 auto;
    font-size: 1.25rem;
    font-weight: 900;
    color: #707070;
}

.login-buttons {
    display: block;
    width: 250px;
    height: 50px;
    margin: 20px auto 0 auto;
    border: 0;
    border-radius: 10px;
    background-color: #838383;
    color: white;
    font-size: 1.5rem;
}

.form input {
    width: 25vw;
    height: 50px;
    border: none;
    background-color: white;
    margin: 5px 5vw 40px 5vw;
    border-radius: 2rem;
    padding: 0 5% 0 5%;
    font-size: 1.5rem;
    color: #707070;
}

.form label {
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 6vw;

}

#main-section {
    display: none;
    height: 100vh;
}

#landing-section {
    display: block;
}

#register {
    display: none;
}

#sidebar {
    flex: 0.2;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

#sidebar h1 {
    text-align: center;
    margin-bottom: 2%;
}

#sidebar hr {
    width: 80%;
    color: lightgrey;
}

#private-channels {
    flex: 0.45;
}

#public-channels {
    flex: 0.45;
}

#sidebar-buttons {
    display: flex;
    flex-direction: column-reverse;
    flex: 0.1;
    margin-bottom: 10px;
    
}

#sidebar-buttons button {
    display: block;
    width: 80%;
    margin: 1% 10% 1% 10%;
}

#channel-view {
    display: flex;
    flex-direction: column;
    flex: 0.8;
    border: 1px solid;
}

#channel-header {
    display: flex;
    flex: 0.1;
    border: 1px solid;
}

#channel-messages {
    flex: 0.85;
    overflow: scroll;
    border: 1px solid;
}

#message-text-box {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex: 0.05;
    border: none;
    border-radius: 2rem;
    background: white;
    margin: 1%;
    padding: auto 2% auto 2%;
}

#message-text {
    display: inline;
    flex: 0.85;
    height: 70%;
    margin: auto 2% auto 2%;
    border: none;
    background: none;
    font-size: 3rem;
}

#message-send {
    margin: auto 10px auto auto;
    display: inline;
    flex: 0.15;
    height: 70%;
    border: none;
    background: #838383;
    color: white;
    font-size: 1.5rem;
    border-radius: 2rem;
}

#message-list {
    list-style-type: none;
    margin: 0 5% 0 5%;
    padding: 0;
}

#message-list li {
    margin: 1% 0 1% 0;
}

#create-channel-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#channel-settings-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

textarea:focus, input:focus{
    outline: none;
}